# .gitignore for React and .NET projects

# React
node_modules/
build/
dist/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vscode/
*.vs/
*.csproj.user
*.csproj.nuget.g.props
*.csproj.nuget.g.targets
project.lock.json
project.fragment.lock.json
artifacts/

#Customizado
/FL410.Documentacao
*/appsettings.json
*/appsettings.Development.json
FL410.Services/Execucoes